.main {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}