.modal {
    position: relative;
    width: 50%;
    height: 70%;
    border-radius: 40px;    
    background-color: #1c1c21;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.closeIcon {
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
    z-index: 2;
}